header.MuiAppBar-root {
    height: auto;

    background-color: var(--secondary-color);

    z-index: 30;
    position: fixed;

    overflow: hidden; 
}
header > div.MuiToolbar-root {
    padding-right: 0.5rem;
    min-height: 56px !important;
}

header .backButton.MuiIconButton-root {
    padding: 8px;
}

header .title {
    font-size: 1.25rem;

    text-align: left;

    margin-left: 0.25rem;

    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

header .title form {
    padding: 0px;
    margin: 0px;
}

header .title input {
    height: 100%;
    width: calc(100% - 1rem);

    padding-top: 0.75px;
    padding-left: 0px;

    line-height: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
}

header .editButton {
    margin-left: auto;
    margin-right: 0px;

    transition: color 0.25s;
}

header .editButton:hover {
    color: rgb(195, 33, 96) !important;
}

header .editButton svg { color: inherit; }

header .listCompleted {
    padding: 10px;

    transition: color 0.25s;
}

header .listCompleted:hover {
    color: #2ba02f !important;
}

header .listCompleted svg {
    width: 1.25em;
    height: 1.25em;
    color: inherit;
}

header .readOnly {
    margin-right: 0px;
}

@media only screen and (max-width: 400px) {
    header .title {
        font-size: 1.125rem;
    }

    header .listCompleted svg {
        width: 1.1em;
        height: 1.1em;
    }

    header .readOnly svg {
        width: 0.9em;
        height: 0.9em;
    }

    header .editButton svg {
        width: 0.9em;
        height: 0.9em;
    }
}